name: Trigger Vercel Cron Deployment
on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:
jobs:
  trigger-vercel:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Deploy Hook
        run: |
          curl -X POST ${{ secrets.VERCEL_DEPLOY_HOOK }}
