name: Trigger Vercel Cron
on:
  schedule:
    # Запускать каждые 10 минут
    - cron: '*/10 * * * *'
  workflow_dispatch: # Чтобы можно было запустить кнопку вручную для теста

jobs:
  ping-api:
    runs-on: ubuntu-latest
    steps:
      - name: Call Vercel Cron Endpoint
        run: |
          curl -X GET ${{ secrets.VERCEL_APP_URL }}/api/cron \
            -H "Authorization: Bearer ${{ secrets.CRON_SECRET }}"
