name: Trigger Cron Handler
on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:
jobs:
  trigger-cron:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Cron Handler
        run: |
          curl -X GET https://habit-v2-0.vercel.app/api/cron
