name: Trigger Vercel Cron

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  ping-api:
    runs-on: ubuntu-latest
  steps:
  - name: Call Vercel Cron Endpoint
    run: "curl -L \"${{ secrets.VERCEL_APP_URL }}/api/cron\" -H 'Authorization: Bearer ${{ secrets.CRON_SECRET }}'"
